<!DOCTYPE html>
<html>
  <head>
    <title>MembersOnly</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <% if flash[:notice] %>
      <%= notice %>
    <% end %>

    <% if flash[:alert] %>
      <%= alert %>
    <% end %>

    <nav>
      <% if user_signed_in? %>
        <%= current_user.email %>
      <% end %>
    </nav>

    <%= yield %>
  </body>
</html>
