<!DOCTYPE html>
<html class="has-navbar-fixed-top">
  <head>
    <title>MembersOnly</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>





    <nav class="navbar is-info is-fixed-top">
      <div class="navbar-brand">
        <%= link_to root_path, class: 'navbar-item' do %>
          <h1 class="title is-5">Home</h1>
        <% end %>

        <% if user_signed_in? %>
          <h2 class="navbar-item">Welcome <%= current_user.name %> </h2>
        <% end %>

        <div class="navbar-burger burger" data-target="navbarExample">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>

      <div id="navbarExample" class="navbar-menu">
        <div class="navbar-end">
          <div class="field is-grouped navbar-item">
            <p class="control">
              <%= link_to 'New Post', new_post_path, class: 'button is-info is-inverted' %>
            </p>
            <p class="control">
              <% if user_signed_in? %>
                <%= link_to 'Edit User', edit_user_registration_path, class: 'button is-info is-inverted' %>
                <%= link_to 'Sign Out', destroy_user_session_path, method: :delete, class: 'button is-info is-inverted' %>

              <% else %>
                <%= link_to 'Sign Up', new_user_registration_path, class: 'button is-info is-inverted' %>
                <%= link_to 'Sign In', new_user_session_path, class: 'button is-info is-inverted' %>
              <% end %>
            </p>
          </div>
        </div>
      </div>
    </nav>





    <section class="section">
      <div class="container">
        <div class="columns is-centered">
          <div class="column is-4">

            <div class="mt-5">
              <% if flash[:notice] %>
                <%= notice %>
              <% end %>

              <% if flash[:alert] %>
                <%= alert %>
              <% end %>
            </div>
            
            <%= yield %>
          </div>
        </div>
      </div>
    </section>


  </body>
</html>
